
@{
    ViewData["Title"] = "About";
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/sams.png" alt="sams-logo" />
    <div class="card-body">
        <h5 class="card-title">Create By: Samuel de Leon</h5>
        <p class="card-text">System Developer / Administrator</p>
        <p class="card-text">Today: @DateTime.Now</p>
    </div>
</div>