@model ClubAsp.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlendNumber" class="control-label"></label>
                <input asp-for="BlendNumber" class="form-control" />
                <span asp-validation-for="BlendNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlendDescription" class="control-label"></label>
                <input asp-for="BlendDescription" class="form-control" />
                <span asp-validation-for="BlendDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackWeight" class="control-label"></label>
                <input asp-for="PackWeight" class="form-control" />
                <span asp-validation-for="PackWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeclaredWeight" class="control-label"></label>
                <input asp-for="DeclaredWeight" class="form-control" />
                <span asp-validation-for="DeclaredWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorRange" class="control-label"></label>
                <input asp-for="ColorRange" class="form-control" />
                <span asp-validation-for="ColorRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
